# -------------------------
# Python
# -------------------------
**/__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
backend/.venv/
venv/
.venv/
(.venv)
(.venv/)

# env files
.env
*.env
frontend/.env
backend/.env

# SQLite Database
backend/db.sqlite3

# Python cache/tools
.pytest_cache/
.mypy_cache/
.ruff_cache/

# -------------------------
# React / Node
# -------------------------
frontend/node_modules/
frontend/dist/
frontend/.vite/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# -------------------------
# VS Code
# -------------------------
.vscode/

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

backend/recommender/pickle_models/
*.pkl