.search-container {
    position: sticky;
    top: var(--navbar-height);
    z-index: 100;
    padding: 10px 0;
    background: var(--search-container-bg);
    border-radius: 15px 15px;
}

.dashboard-content-div {
    margin-top: 20px;
}